MeterProject/src/pattern/Import.ATM_LC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://import.tsc.co.th" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="column" use="optional"/>
                <xs:attribute type="xs:string" name="dataType" use="optional"/>
                <xs:attribute type="xs:byte" name="size" use="optional"/>
                <xs:attribute type="xs:byte" name="start" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="tableId"/>
      <xs:attribute type="xs:string" name="fileNamePrefix"/>
      <xs:attribute type="xs:string" name="preProcess"/>
      <xs:attribute type="xs:string" name="postProcess"/>
      <xs:attribute type="xs:string" name="genRecid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>